<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/bases::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>Add book</title>

</head>

<body>
	<section>
		<div class="container mt-5 p-5" >
			<div class="row">

				<div class="col-md-7 p-2 offset-md-2" >
					<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header text-center"  style="color: black;">
							<p class="fs-4 text-center">Thêm quản trị viên</p>
							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form action="/admin/save-admin" enctype="multipart/form-data" method="post"  style="color: black;">
								<div class="row">
									<div class="col">
										<label class="form-label">Họ và tên</label> <input required
											class="form-control" name="name" type="text">
									</div>

									<div class="col">
										<label class="form-label">Số điện thoại</label> <input required
											class="form-control" name="mobileNumber" type="number">
									</div>

								</div>

								<div class="mb-3">
									<label class="form-label">Email</label> <input required class="form-control"
										name="email" type="email">
								</div>


								<div class="row">
									<div class="col">
										<label class="form-label">Địa chỉ</label> <input required class="form-control"
											name="address" type="text">
									</div>

									<div class="col">
										<label class="form-label">Quận/Huyện</label> <input required class="form-control"
											name="state" type="text">
									</div>


								</div>

								<div class="row">
									<div class="col">
										<label class="form-label">Thành phố</label> <input required class="form-control"
											name="city" type="text">
									</div>

									
								</div>

								<div class="row">
									<div class="col">
										<label class="form-label">Mật khẩu</label> <input required class="form-control"
											name="password" type="password">
									</div>
									<div class="col">
										<label class="form-label">Nhập lại mật khẩu</label> <input required
											class="form-control" name="cpassword" type="password">
									</div>
								</div>
								<div class="mb-3">
									<label class="form-label">Ảnh đại diện</label> <input class="form-control"
										name="img" type="file">
								</div>
								<button type="submit" class="btn bg-primary text-white col-md-12">Tạo</button>
							</form>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>