<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/bases::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="container-fluid mt-5 p-5 bg-light">
			<div class="row">
				<div class="col-md-10 offset-md-1 ">

					<p class="fs-3 text-center">Hồ sơ</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold  text-center">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold  text-center">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
					<hr>
					<div class="text-center">
						<img alt="" th:src="@{'../images/profile_img/'+${user.profileImage}}" class="border p-2"
							style="width: 110px; height: 110px; border-radius: 50%;">
					</div>
					<div class="col-md-8 offset-md-2 mt-4">
						<table class="table table-borderless">

							<tbody>
								<form action="/admin/update-profile" method="post" enctype="multipart/form-data">
									<tr>

										<th scope="row" style="padding-top:40px;padding-left: 30px;">Họ và tên
										</th>
										<td style="padding-top: 40px;">:</td>
										<td style="padding-right: 30px;padding-top: 30px;"><input type="text"
												name="name" class="form-control" th:value="${user.name}">
										</td>

									</tr>
									<tr>
										<th scope="row" style="padding-top:15px;padding-left: 30px;">Số điện
											thoại</th>
										<td style="padding-top: 15px;">:</td>
										<td style="padding-right: 30px;"><input type="text" name="mobileNumber"
												class="form-control" th:value="${user.mobileNumber}"></td>
									</tr>
									<tr>
										<th scope="row" style="padding-top:15px;padding-left: 30px;">Email</th>
										<td style="padding-top: 15px;">:</td>
										<td style="padding-right: 30px;"><input type="text" name="email"
												class="form-control" readonly th:value="${user.email}"></td>
									</tr>
									<tr>
										<th scope="row" style="padding-top:15px;padding-left: 30px;">Địa chỉ</th>
										<td style="padding-top: 15px;">:</td>
										<td style="padding-right: 30px;"><input type="text" name="address"
												class="form-control" th:value="${user.address}"></td>
									</tr>

									<tr>
										<th scope="row" style="padding-top:15px;padding-left: 30px;">Quận/Huyện
										</th>
										<td style="padding-top: 15px;">:</td>
										<td style="padding-right: 30px;"><input type="text" name="state"
												class="form-control" th:value="${user.state}"></td>
									</tr>
									<tr>
										<th scope="row" style="padding-top:15px;padding-left: 30px;">Tỉnh/Thành
											phố</th>
										<td style="padding-top: 15px;">:</td>
										<td style="padding-right: 30px;"><input type="text" name="city"
												class="form-control" th:value="${user.city}">
										</td>
									</tr>


									<tr>
										<th scope="row" style="padding-top:15px;padding-left: 30px;">Ảnh</th>
										<td style="padding-top: 15px;">:</td>
										<td style="padding-right: 30px;"><input type="file" name="img"
												class="form-control" value=""></td>
									</tr>

									<tr>
										<th scope="row" style="padding-top:15px;padding-left: 30px;">Trạng thái
											tài khoản</th>
										<td style="padding-top: 15px;">:</td>
										<td style="padding-right: 30px;"><input type="text" name="" class="form-control"
												readonly th:value="${user.isEnable}"> <input type="hidden"
												th:value="${user.id}" name="id"></td>
									</tr>

									<tr>
										<td></td>
										<td></td>
										<td class="text-center">
											<button class="btn btn-sm bg-primary text-light"
												style="margin-bottom: 10px;">Lưu thay đổi</button>
										</td>
									</tr>
								</form>
							</tbody>
						</table>

					</div>

				</div>
				<hr>
				<div class="col-md-10 offset-md-1 mt-1">
					<div class="row">
						<p class="text-center fs-3">Thay đổi mật khẩu</p>
						<div class="col-md-6 offset-md-3">
							<table class="table table-borderless">

								<tbody>
									<form action="/admin/change-password" method="post">
										<tr>
											<th scope="row" style="padding-top: 50px;padding-left: 30px;">Mật khẩu
												hiện tại</th>

											<td style="padding-top: 30px;padding-right: 30px;"><input type="password"
													name="currentPassword" class="form-control"></td>
										</tr>

										<tr>
											<th scope="row" style="padding-top: 30px;padding-left: 30px;">Mật khẩu
												mới</th>

											<td style="padding-right: 30px;"><input type="password" name="newPassword"
													class="form-control"></td>
										</tr>

										<tr>
											<th scope="row" style="padding-top: 30px;padding-left: 30px;">Nhập lại
												mật khẩu</th>

											<td style="padding-right: 30px;"><input type="password"
													name="confirmPassword" class="form-control"></td>
										</tr>
										<tr>
											<td></td>
											<td class="text-center">
												<button
													class="btn btn-sm bg-primary text-light col-md-4">Lưu thay đổi</button>
											</td>

										</tr>
									</form>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>






	</section>
</body>

</html>