<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/bases::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="container-fluid mt-5 p-5">
			<div class="col" style="text-align: right;  " th:if="${userType==2}">
				<a href="/admin/add-admin" class="btn btn-sm btn-primary"
					style="font-size: 20px; margin-right: 15px;margin-bottom: 25px;">+
					Thêm quản trị viên</a>
			</div>
			<div class="card card-sh">
				<div class="card-header text-center" style="color: black;">
					<p class="fs-4" th:if="${userType==1}">Quản lý người dùng</p>
					<p class="fs-4" th:if="${userType==2}">Quản lý thành viên</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Số thứ tự</th>
								<th scope="col">Ảnh</th>
								<th scope="col">Họ tên</th>
								<th scope="col">Email</th>
								<th scope="col">Số điện thoại</th>
								<th scope="col">Địa chỉ</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Hoạt động</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="u,c:${users}">
								<th scope="row">[[${c.count}]]</th>
								<td><img th:src="@{'/images/profile_img/'+${u.profileImage}}" width="70px" height="70px">
								</td>
								<td>[[${u.name}]]</td>
								<td>[[${u.email}]]</td>
								<td>[[${u.mobileNumber}]]</td>
								<td>[[${u.address+', '+u.state+', '+u.city}]]</td>
								<td>[[${u.isEnable}]]</td>
								<td><a th:href="@{'/admin/updateSts?status=true&id='+${u.id}}"
										class="btn btn-sm btn-primary">Active</a>

									<a th:href="@{'/admin/updateSts?status=false&id='+${u.id}}"
										class="btn btn-sm btn-danger">
										Inactive</a>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>
</body>

</html>