<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>Blog List</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

	<section class="hero-section position-relative padding-large"
		style="background-image: url(/images/banner-image-bg-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 400px;">
		<div class="hero-content">
			<div class="container">
				<div class="row">
					<div class="text-center">
						<h1>Blog</h1>
						<div class="breadcrumbs">
							<span class="item">
								<a href="/">Trang chủ > </a>
							</span>
							<span class="item text-decoration-underline">Blog</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="shopify-grid padding-large">
			<div class="container">
				<div class="row flex-row-reverse g-md-5">
					<main class="col-md-9">
						<div class="filter-shop d-flex flex-wrap justify-content-between mb-5">
							<!--<div class="showing-product">
								<p>Hiển thị 1–9 của [[${totalElements}]] kết quả</p>
							</div>-->
							<!--<div class="sort-by">
								<select id="sorting" class="form-select" data-filter-sort="" data-filter-order="">
									<option value="">Sắp xếp mặc đinh</option>
									<option value="">Theo tên (A - Z)</option>
									<option value="">Theo tên (Z - A)</option>
								</select>
							</div>-->
						</div>
						<div class="row post-contents">
							<th:block th:if="${posts != null and !posts.isEmpty()}">
						             <div class="col-lg-4 col-md-6 posts mb-5"th:each="post : ${posts}">
						               <img th:src="@{'/images/blog_img/'+${post.image}}" alt="post image" class="img-fluid rounded-3" style="padding-bottom: 20px; height: 250px; width: 100%;">
						               <!--<a href="blog.html" class="fs-6 text-primary">Books</a>-->
						               <h4 class="card-title mb-2 text-capitalize text-dark"><a th:href="@{'/blog_list/' + ${post.id}}">[[${post.title}]]</a></h4>
						              
						             </div>
							</th:block>
							<th:block th:unless="${posts != null and !posts.isEmpty()}">
															<p class="fs-4 text-center mt-4 text-danger">Hiện chưa có bài viết nào</p>
														</th:block>
						</div>
						             
						             
						<!--<div class="row product-content product-store">
							<th:block th:if="${posts != null and !posts.isEmpty()}">

								<div class="col-lg-3 col-md-4 mb-4" th:each="post : ${posts}">
									<div class="card position-relative p-4 border rounded-3">
										
										<img th:src="@{'/images/blog_img/'+${post.image}}"
											class="img-fluid shadow-sm" alt="Blog Image">

										
										<h6 class="mt-4 mb-0 fw-bold">
											<a th:href="@{'/blog_list/' + ${post.id}}" th:text="${post.title}">Blog
												Title</a>
										</h6>

										
										<a th:href="@{'/blog_list/' + ${post.id}}" class="btn btn-primary mt-3">Xem
											thêm</a>
									</div>
								</div>
							</th:block>
							<th:block th:unless="${posts != null and !posts.isEmpty()}">
								<p class="fs-4 text-center mt-4 text-danger">Hiện chưa có bài viết nào</p>
							</th:block>
						</div>-->

						<nav class="py-5" aria-label="Page navigation">
							<ul class="pagination justify-content-center gap-4">
								<li class="page-item" th:classappend="${isFirst} ? 'disabled':''">
									<a class="page-link" th:href="@{'/blog_list?pageNo='+${pageNo-1}}">&laquo;</a>
								</li>
								<li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item active"
									th:classappend="${pageNo+1==i}?'active':''" ]] aria-current="page">
									<a class="page-link" th:href="@{'/blog_list?pageNo='+${i-1}}">[[${i}]]</a>
								</li>

								<li class="page-item" th:classappend="${isLast} ? 'disabled':''">
									<a class="page-link" th:href="@{'/blog_list?pageNo='+${pageNo+1}}">&raquo;</a>
								</li>
							</ul>
						</nav>
					</main>
					<aside class="col-md-3">
						<div class="sidebar ps-lg-5">
							<div class="widget-menu">
								<div class="widget-search-bar">
									<form class="d-flex border rounded-3 p-2" role="search">
										<input class="form-control border-0 me-2 py-2" type="search"
											placeholder="Search" aria-label="Search">
										<button class="btn rounded-3 p-3 d-flex align-items-center" type="submit">
											<svg class="search text-light" width="18" height="18">
												<use xlink:href="#search"></use>
											</svg>
										</button>
									</form>
								</div>
							</div>
							<div class="widget-product-categories pt-5">
								<img src="/images/banner-row.jpg" style="width: 100%; height: 500px;">
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
</body>

</html>